.logo{
  height: 4vh;
  position: relative;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2ch;
}
.container {
  margin: 0 auto;
  display: block;
}
.header__inner{
  display: flex ;
  justify-content:center;
  align-items: flex-start;

}

#pic {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2000;
  margin-top: -1vh;
  margin-left: 80px;
  /*position: fixed;*/
}

.logo{
  display: inline-block;
  align-items: center;
 opacity: 100%
}
.nav__link {
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  margin: 15 10vh;
  transition: color .2s linear;
  margin-top: 3vh;
  
  
}
.nav__link:hover{
  color: #9EFFAF;
}

.background{
  background: linear-gradient(to bottom left, #EBFF7D, #0f560b);
  height: 100%;
  width: 100%;
  opacity: 75%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  margin:0;
}

.left{
  width: 50ch;
  height: 30vh;
  background-color: antiquewhite;
  opacity: 60%; 
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 20vh;
  margin-top: -80vh;
}

a.a.left{
  width: 32ch;
  border-width: 2px;
  border-color: aqua;
}
.info{
  
  top: 100px;
  width: 100%;
  justify-content: center;
  position: absolute;
}


.container1{
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  text-align: center;
  color: #3A3B41; 
  height: 40vh;
  display: flex;
  margin-top: 1em;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
 z-index: 3000;
 font-family: 'Roboto Condensed', sans-serif;
 
}
.hi{
font-size: 30px;
text-transform: none;
font-family: 'Roboto Condensed', sans-serif;

}
.right{
  width: 50ch;
  height: 30vh;
  background-color: antiquewhite;
  opacity: 60%; 
  display: flex;
  justify-content: center;
 
  
  margin-top: 50vh;
  margin-left: 75ch;
  position: absolute  ;
  
}

svg{
  position: relative;
  height: 10vh;
}

.icon{
  width: 10vh
}
.icon2{
  height: 10vh;
  margin-top: 10vh;
}

.result{
  width: 70ch;
  height: 30ch;
  font-family: 'Source Sans Pro', sans-serif;
  
  background-color: #0f560b;
  opacity: 60%; 
  display: flex;
  justify-content: center;
  margin-top: 100vh;
  margin-bottom: 10vh;
  color:#ffffff;
  margin-left: 53ch;
  position: absolute  ;
  font-size: 2vh;
  font-family: 'Source Sans Pro', sans-serif; 
}